{% extends "core/base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>
            Hi, I’m <span>Parth Tripathi</span> 👋
        </h1>
        <h2>
            Full-Stack Developer | Django | JavaScript
        </h2>
        <p>
            I build clean, scalable, and beautiful web applications.
            Passionate about turning ideas into real products.
        </p>

        <div class="hero-buttons">
            <a href="/projects/" class="btn primary">View Projects</a>
            <a href="/contact/" class="btn secondary">Contact Me</a>
        </div>
    </div>
</section>
{% endblock %}
