{% extends "core/base.html" %}
{% load static %}

{% block content %}
<section class="contact-section">

    <div class="contact-card">
        <h1>Login 🔐</h1>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit" class="btn primary">
                Login
            </button>
        </form>

        <p style="margin-top:20px;">
            Don't have an account?
            <a href="{% url 'signup' %}" style="color: var(--neon-pink);">
                Signup
            </a>
        </p>
    </div>

</section>
{% endblock %}
